# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Model files (optional)
# =========================
*.joblib
*.pkl

# =========================
# Data (optional - depends)
# =========================
Data/

# =========================
# Secrets / configs
# =========================
.env
*.env

# =========================
# Build / cache
# =========================
.cache/

*.pdf

*.csv
*.json